PySide6-Essentials>=6.5,<6.7
matplotlib>=3.7,<3.9
pandas>=1.5,<2.3
numpy>=1.23,<1.27
yfinance>=0.2.18,<0.3
PyPortfolioOpt>=1.5.5,<2.0
scipy>=1.10,<1.13
SQLAlchemy>=2.0,<2.1
scikit-learn>=1.2,<1.5
numba>=0.57,<0.60